* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu-container {
  color: black;
  background-color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;

}

.menu {
  width: 900px;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", "Georgia", sans-serif;
  font-size: 16px;
}


.links {
  display: flex;
  justify-content: center;
}

.graphicdesign {
  margin-left: 40px;
}

.about {
  margin-left: 40px;
}

.contact {
  margin-left: 40px;
}

body, html {
    height: 100%;
}

a:link {
color: #fff;
text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
color: #000;
text-decoration: none;
}

a:active {
color: #fff;
text-decoration: none;
font-weight: 800;
}

a:visited:hover {
  color: #000;
}

.hero-image {
  background-image: url("/Users/micaylarosenbaum 1/Desktop/final--spring-2018-web-design-1-at-queens-college/img/hero.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Open Sans", "Georgia", sans-serif;
  font-weight: 800;
  font-size: 3vw;
}


.nav {
  text-align: center;
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Open Sans", "Georgia", sans-serif;
  font-weight: 200;
  font-size: 2vw;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container-design {
  display: flex;
  justify-content: center;
}

.photo-grid-design {
  width: 1000px;
  display: flex;
  justify-content:  center;
  flex-wrap: wrap;
}

.photo-grid-item-design {
  border: 4px solid #fff;
  width: 300px;
  height: 300px;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #00ced1;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top:  30px;
    margin-left:  100px;
    margin-right: 100px;
}

#me {
  font-family: "Open Sans", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 45px;
  line-height: 1.8;
  font-size: 2vw;
}

#me h2 {
font-size: 1.8vw;
line-height: 1.8;
}


#me p {
  font-size: 1.7vw;
  line-height: 1.8;
}

#me .curve {
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:32px;
  border-radius: 50%;
  -webkit-shape-outside:circle(50%);
  shape-outside:circle(50%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
